
//$lead-max-width:                77rem !default;
body {
  background-color: $color-fds-tertiary-200
}

.fds-modal{

  &--top {
    padding-top: 1vh;
  }

  &__dialog {
    max-width: 480px;
  }
}

.dwc-table__first-highlight tr:first-child td {
  background-color: $color-fds-secondary-100;
  font-weight: bold;
}